
<h2>Dark Souls III Optimizer</h2>

<p>This is based on the work of 3dots. His github is here: <a href="https://github.com/3dots/ds3optimizer">Original Project.</a> I have forked his project to incorporate the Ringed City DLC items as well as the 1.11 Patch version.</p>

<p>While Vigor is crucial, sometimes you want to have the best armor for a boss or situation. If you find a bug, post it at my <a href="https://github.com/percentnineteen/ds3optimizer">github.</a></p>
<p>Data from Patch 1.14 Regulation 1.35.</p> 

<router-outlet></router-outlet>
