th {
    color: #333;
}

.ds3input {
    width: 80px;
}

.table-nonfluid {
   width: auto !important;
}

.table-nonfluid tbody tr td, .table-nonfluid tbody tr th, .table-nonfluid thead tr th {
    border: none;
}

