<label>Max Armor Weight</label>
<input type="number" step="any" class="ds3input" [(ngModel)]="AvailableWeight" placeholder=100/>
<label>Result List Length</label>
<input type="number" class="ds3input" [(ngModel)]="ResultListLength" placeholder=10 min=1/>

<button type="button" class="btn btn-primary" (click)="RunOptimization()">Run</button>

<progress-bar [value]="Progress" [max]="100"></progress-bar>

<table class="table table-striped">
   <thead>
      <tr>
         <th></th>         
         <th>Physical</th>
         <th>Strike</th>
         <th>Slash</th>
         <th>Thrust</th>
         
         <th>Magic</th>
         <th>Fire</th>
         <th>Lightning</th>
         <th>Dark</th>
         
         <th>Bleed</th>
         <th>Poison</th>
         <th>Frost</th>
         <th>Curse</th>
         
         <th>Pointless</th>
      </tr>
   </thead>
   
   <tbody>
         <tr>
               <td>Minimums</td>
                            
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Physical" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Strike" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Slash" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Thrust" placeholder=0/></td>
               
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Magic" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Fire" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Lightning" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Dark" placeholder=0/></td>
               
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Bleed" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Poison" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Frost" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Curse" placeholder=0/></td>
               
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Minimums.Poise" placeholder=0/></td>
         </tr>
         <tr>       
               <td>Weights</td>
                            
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Physical" placeholder=1/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Strike" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Slash" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Thrust" placeholder=0/></td>
               
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Magic" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Fire" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Lightning" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Dark" placeholder=0/></td>
               
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Bleed" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Poison" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Frost" placeholder=0/></td>
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Curse" placeholder=0/></td>
               
               <td><input type="number" step="any" class="ds3input" [(ngModel)]="Weights.Poise" placeholder=0/></td>
         </tr>
   </tbody>
</table>

<h1>Results</h1>
<table class="table table-hover">
   <thead>
      <tr>
         <th>Head</th>
         <th>Chest</th>
         <th>Arms</th>
         <th>Legs</th>
         
         <th>Weight</th>
         
         <th>Physical</th>
         <th>Strike</th>
         <th>Slash</th>
         <th>Thrust</th>
         
         <th>Magic</th>
         <th>Fire</th>
         <th>Lightning</th>
         <th>Dark</th>
         
         <th>Bleed</th>
         <th>Poison</th>
         <th>Frost</th>
         <th>Curse</th>
         
         <th>Pointless</th>
      </tr>
   </thead>
   
   <tbody>
         <tr *ngFor="let ArmorCombo of OptimalArmorCombinations">
               <td>{{ArmorCombo.Head.Name}} <button type="button"  (click)="DisableArmorPiece(ArmorCombo.Head)">x</button></td>
               <td>{{ArmorCombo.Chest.Name}} <button type="button"  (click)="DisableArmorPiece(ArmorCombo.Chest)">x</button></td>
               <td>{{ArmorCombo.Arms.Name}} <button type="button"  (click)="DisableArmorPiece(ArmorCombo.Arms)">x</button></td>
               <td>{{ArmorCombo.Legs.Name}} <button type="button"  (click)="DisableArmorPiece(ArmorCombo.Legs)">x</button></td>
               
               <td>{{ArmorCombo.Weight | number:'.2'}}</td>
               
               <td>{{ArmorCombo.Physical | number:'.3'}}</td>
               <td>{{ArmorCombo.Strike | number:'.3'}}</td>
               <td>{{ArmorCombo.Slash | number:'.3'}}</td>
               <td>{{ArmorCombo.Thrust | number:'.3'}}</td>
               
               <td>{{ArmorCombo.Magic | number:'.3'}}</td>
               <td>{{ArmorCombo.Fire | number:'.3'}}</td>
               <td>{{ArmorCombo.Lightning | number:'.3'}}</td>
               <td>{{ArmorCombo.Dark | number:'.3'}}</td>
               
               <td>{{ArmorCombo.Bleed}}</td>
               <td>{{ArmorCombo.Poison}}</td>
               <td>{{ArmorCombo.Frost}}</td>
               <td>{{ArmorCombo.Curse}}</td>
               
               <td>{{ArmorCombo.Poise | number:'.1'}}</td>
         </tr>
   </tbody>
</table>