<h3>HURRAY</h3>

<table class="table table-hover">
   <thead>
      <tr>
         <th>Head</th>
         <th>Chest</th>
         <th>Arms</th>
         <th>Legs</th>
         
         <th>Weight</th>
         
         <th>Physical</th>
         <th>Strike</th>
         <th>Slash</th>
         <th>Thrust</th>
         
         <th>Magic</th>
         <th>Fire</th>
         <th>Lightning</th>
         <th>Dark</th>
         
         <th>Bleed</th>
         <th>Poison</th>
         <th>Frost</th>
         <th>Curse</th>
         
         <th>Pointless</th>
      </tr>
   </thead>
   
   <tbody>
         <tr>{{Test}}</tr>
   </tbody>
</table>